<div>
  <% @games.each do |game| %>
    <div class="game_list">
      <div>
        <%= link_to image_tag("#{game.id}.jpg", size: "280x158"), game.title_url, target: :blank %>
      </div>
      <div>
        <%= game.name %>
      </div>
      <div>
        <%= game.hardware %>
      </div>
      <div>
        <%= game.genre %>
      </div>
      <div>
        <%= game.relese_date%>
      </div>
      <div>
        <%= "#{game.price.to_s(:delimited)}円"%>
      </div>
      <div>
        <%= game.maker%>
      </div>
      <div>
        <%= game.soft_type%>
      </div>
    </div>
  <% end %>
</div>
