<header>
  <div class="hardware_button">
    <%= button_to "ALL", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "ALL"}} %>
    <%= button_to "FC", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "FC"}} %>
    <%= button_to "SFC", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "SFC"}} %>
    <%= button_to "N64", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "N64"}} %>
    <%= button_to "GBA", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "GBA"}} %>
    <%= button_to "DS", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "DS"}} %>
    <%= button_to "PCE", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "PCE"}} %>
    <%= button_to "MSX", {controller: "games_list", action: "index"}, {method: :get, params: {hardware: "MSX"}} %>
  </div>
</header>
<div>
  <% @games.each do |game| %>
    <div class="game_list">
      <div>
        <%= link_to image_tag("#{game.id}.jpg", size: "280x158"), game.title_url, target: :blank %>
      </div>
      <div>
        <%= game.name %>
      </div>
      <div>
        <%= game.hardware %>
      </div>
      <div>
        <%= game.genre %>
      </div>
      <div>
        <%= game.relese_date%>
      </div>
      <div>
        <%= "#{game.price.to_s(:delimited)}円"%>
      </div>
      <div>
        <%= game.maker%>
      </div>
      <div>
        <%= game.soft_type%>
      </div>
    </div>
  <% end %>
</div>
